.column {
    padding: 20px;
    background-color: #f0fff0; /* Lighter than lightgreen, a very soft pastel green */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


/* Responsive Design with Media Queries */
@media (max-width: 768px) {

    .content {
        display: flex;
        flex-direction: column;
    }

    .column {
        flex: 1 1 100%; /* Each column takes 100% of the row */
        margin: 10px 0; /* Spacing between rows */
    }
}

@media (max-width: 480px) {
    .content {
        display: content;
        flex-direction: column;
    }

    .column {
        flex: 1 1 100%; /* Each column takes 100% of the row */
        margin: 10px 0; /* Spacing between rows */
    }
}